<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
    <welcome-file-list>
        <welcome-file>webapp/pages/home.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>testServlet</servlet-name>
        <servlet-class>api.TestRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getFilteredProducts</servlet-name>
        <servlet-class>api.GetFilteredProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getFilteredProducts</servlet-name>
        <url-pattern>/getFilteredProducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAuction</servlet-name>
        <servlet-class>api.GetAuction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAuction</servlet-name>
        <url-pattern>/getAuction</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerProducts</servlet-name>
        <servlet-class>api.RegisterProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerProducts</servlet-name>
        <url-pattern>/registerProducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerUser</servlet-name>
        <servlet-class>api.RegisterUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerUser</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logOutUser</servlet-name>
        <servlet-class>api.LogOutUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logOutUser</servlet-name>
        <url-pattern>/logOutUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logInUser</servlet-name>
        <servlet-class>api.LogInUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logInUser</servlet-name>
        <url-pattern>/logInUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authenticateUser</servlet-name>
        <servlet-class>api.AuthenticateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authenticateUser</servlet-name>
        <url-pattern>/authenticateUser</url-pattern>
    </servlet-mapping>

</web-app>
