.container {
    max-width: 66%;
}

.header {
    margin-top: 15px;
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  margin-top: 30px;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: .05rem solid #aaaaaa;
}

.btn {
    margin-top: 10px;
}

.gold{
	color: #FFBF00;
}

.product{
	border: 1px solid #dddddd;
	height: 321px;
	padding: 0px;
}

.product>img{
	max-width: 100%;
	max-height: 100%;
}

.product-title{
	font-size: 20px;
}

.product-desc{
    margin-top: 5px;
	font-size: 14px;
}

.product-price{
	font-size: 22px;
}

.content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
}

.view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
}

.service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
}

.service1-item {
	height: 107px;
	width: 120px;
	display: block;
	float: left;
	position: relative;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.service1-item > img {
	max-height: 100%;
	max-width: 100%;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
}

.service-image-right {
	padding-left: 50px;
}

.service-image-left > center > img,.service-image-right > center > img{
	max-height: 100%;
	max-width: 100%;
}

.service-image-left > center {
	max-height: 100%;
	max-width: 100%;
}

#defectDescription {
    margin-top: 10px;
}